{
  "plugins": ["prettier-plugin-tailwindcss"],
  "bracketSpacing": false,
  "jsxSingleQuote": false,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "endOfLine": "lf"
}
